.form {
    width: 40%;
    margin: 0 auto;
}
.form > input{
    padding: 12px 16px;
    width: 70%;
    border: solid 1px #e90a0a;
    border-radius: 5px;
    
}
.form > button{
border: none;
border-radius: 10px;
background-color: brown;
padding: 12px 30px;
color: #ffffff;
margin-left: 32%;
font-size: large;
}


