.pics{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;
   
}
.part{
    border:solid green ;
    border-radius: 5px;
    margin-bottom: 2%;
    text-align: center;
    background-color: white;
}
img{
    width: 50%;
}
h1{text-align: center;}
body{
    background-color: aliceblue;
    margin: 0 20px ;
}